/*.root {*/
/*    -fx-background-color: #fae8b4;*/
/*}*/

/*.toggle-button {*/
/*    -fx-background-color: #C0C0C0;*/
/*    -fx-border-radius: 5px;*/
/*}*/

/*.toggle-button:selected {*/
/*    !*-fx-background-color: #059dc0;*!*/
/*    -fx-background-color: #04d4f0;*/
/*    -fx-text-fill: #FFFFFF;*/
/*}*/

.button-login {
    -fx-background-color: #2980b9;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-border-radius: 5px;
}

.button-login:hover {
    -fx-background-color: #295cb9; /* Hover color */
    -fx-cursor: hand; /* Change cursor to hand */
}

.button-find-match {
    -fx-background-color: #50C878;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-border-radius: 5px;
}

.button-find-match:hover {
    -fx-background-color: #2D8F4E; /* Hover color */
    -fx-cursor: hand; /* Change cursor to hand */
}

.button-cancel {
    -fx-background-color: #ff0000;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-border-radius: 5px;
}

.button-createGame {
    -fx-background-color: #008000;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-border-radius: 5px;
}

.button-createGame:hover {
    -fx-background-color: #0F4D0F;
    -fx-cursor: hand;
}

.button-cancel:hover {
    -fx-background-color: #cf142b; /* Hover color */
    -fx-cursor: hand; /* Change cursor to hand */
}

.label-logged-in {
    -fx-text-fill: #50C878;
}

.label-searching {
    -fx-text-fill: #e3b800;
}

.label-game-found {
    -fx-text-fill: #50C878;
}

.label-error-message {
    -fx-text-fill: #cf142b;
}

.button-main-menu {
    /*-fx-background-color: #3498db; !* Default color *!*/
    -fx-text-fill: black; /* Text color */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 5px;
}

.button-main-menu:hover {
    -fx-background-color: #C0C0C0; /* Hover color */
    -fx-cursor: hand; /* Change cursor to hand */
}
